allennlp==1.2.0
allennlp_models==1.2.0
torch==1.7.0
beautifulsoup4==4.8.1
bert-score==0.3.11
fast-bleu==0.0.90
tokenizers==0.8.1-rc2
lxml
python-Levenshtein
optuna
scikit-learn
statsmodels
tqdm
transformers
